      <!-- Footer -->
        <div id="footer-wrapper">
          <footer id="footer" class="container">
            <div class="row">
              <div class="8u 12u(mobile)">

                <%= partial "partials/links" %>

              </div>
              <div class="4u 12u(mobile)">

                <%= partial "partials/blurb" %>

              </div>
            </div>
          </footer>
        </div>
              <!-- Copyright -->
        <div id="copyright">
          &copy; <%= Time.now.year %> <%= data.site.sitename %> All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
        </div>